/*

rightFacingRotateAnim
frontFacingRotateAnim
upFacingRotateAnim
leftFacingRotateAnim
opacity50
hueRotateAnim
nofilter


*/


.roomItem.graffitiText {
    transform: skewY(-30deg) scaleY(120%);
    border: 0;
    color: #aa0;
    background: none;
    font-size: 24px;
    text-shadow: 4px -4px 8px black, 0 0 15px #0aa;
    text-align: right;
}

.roomItem.graffitiText.announcementText {
    color: #7ac8ff;
    text-shadow: 0px 0px 3px black, 0px 0px 13px black;
    opacity: 60%;
    font-size: 32px;
    text-align: right;
    transform: skewY(28deg) scaleY(130%);
}

#graffitiContainer .graffiti .graffitiContent.image {
    filter: drop-shadow(4px 3px 5px black);
}



#graffitiContainer .graffiti.frontFacing {}

#graffitiContainer .graffiti.stairs {
    transform: rotateY(305deg) rotateX(34deg) rotateZ(5deg);
}


#graffitiContainer .graffiti.leftFacing {
    transform: skewY(30deg) scaleY(1.25);
}


#graffitiContainer .graffiti.rightFacing {
    transform: skewY(330deg) scaleY(1.25);
}



#graffitiContainer .graffiti.upFacing {
    transform: rotateX(60deg) rotateZ(calc(var(--rot) * 2));
}

#graffitiContainer .graffiti.nesMonitor {
    transform: skew(0deg, 19deg);
}

#graffitiContainer .graffiti.nesMonitor .graffitiContent.image {
    width: 66px;
    height: 49px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}


#graffitiContainer .graffiti.pcMonitor {
    transform: skew(0deg, 355deg);
}

#graffitiContainer .graffitiItemContainer.image.pcMonitor,
#graffitiContainer .graffitiItemContainer.image.nesMonitor,
#graffitiContainer .graffitiItemContainer.image.jacuzziMonitor {
    transform: translate(-50%, -50%);
    /* don't allow rotations on the monitors */
}

#graffitiContainer .graffiti.pcMonitor .graffitiContent.image {
    width: 72px;
    height: 46px;
    background-size: cover;
    filter: drop-shadow(0px 0px 15px #fff);
}


#graffitiContainer .graffiti.jacuzziMonitor .graffitiContent.image {
    width: 24px;
    height: 28px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}

#graffitiContainer .graffiti.jacuzziMonitor {
    transform: skew(342deg, 36deg);
}




@keyframes upFacingGraffitiRotateAnim {
    0% {
        transform: rotateX(60deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(60deg) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.upFacingRotateAnim {
    animation: upFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}




@keyframes frontFacingGraffitiRotateAnim {
    0% {
        transform: rotateX(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(0deg) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.frontFacingRotateAnim {
    animation: frontFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}




@keyframes rightFacingGraffitiRotateAnim {
    0% {
        transform: skewY(330deg) scaleY(1.2) rotateZ(0deg);
    }

    100% {
        transform: skewY(330deg) scaleY(1.2) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.rightFacingRotateAnim {
    animation: rightFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}




@keyframes leftFacingGraffitiRotateAnim {
    0% {
        transform: skewY(30deg) scaleY(1.2) rotateZ(0deg);
    }

    100% {
        transform: skewY(30deg) scaleY(1.2) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.leftFacingRotateAnim {
    animation: leftFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}








#graffitiContainer .graffiti.nofilter .graffitiContent.image {
    filter: none;
}

@keyframes graffitiHueRotateAnim {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#graffitiContainer .graffiti.hueRotateAnim .graffitiContent.image {
    animation: graffitiHueRotateAnim 50s infinite;
    animation-timing-function: linear;
}


#graffitiContainer .graffiti.opacity0 {
    opacity: 0%;
}

#graffitiContainer .graffiti.opacity10 {
    opacity: 10%;
}

#graffitiContainer .graffiti.opacity20 {
    opacity: 20%;
}

#graffitiContainer .graffiti.opacity30 {
    opacity: 30%;
}

#graffitiContainer .graffiti.opacity40 {
    opacity: 40%;
}

#graffitiContainer .graffiti.opacity50 {
    opacity: 50%;
}

#graffitiContainer .graffiti.opacity60 {
    opacity: 60%;
}

#graffitiContainer .graffiti.opacity70 {
    opacity: 70%;
}

#graffitiContainer .graffiti.opacity80 {
    opacity: 80%;
}

#graffitiContainer .graffiti.opacity90 {
    opacity: 90%;
}




.roomItem {
    border: none;
    background: none;
    font-size: 24px;
    color: #0aa;
    text-shadow: 0 0 3px black;
}




.backgroundLayer.parallaxBG {
    background-color: black;
}