/*

rightFacingRotateAnim
frontFacingRotateAnim
upFacingRotateAnim
leftFacingRotateAnim
opacity50
hueRotateAnim
nofilter


*/


.roomItem.graffitiText {
    transform: skewY(-30deg) scaleY(120%);
    border: 0;
    color: #aa0;
    background: none;
    font-size: 24px;
    text-shadow: 4px -4px 8px black, 0 0 15px #0aa;
    text-align: right;
}

.roomItem.graffitiText.announcementText {
    color: #7ac8ff;
    text-shadow: 0px 0px 3px black, 0px 0px 13px black;
    opacity: 60%;
    font-size: 32px;
    text-align: right;
    transform: skewY(28deg) scaleY(130%);
}

#graffitiContainer .graffiti .graffitiContent.image {
    filter: drop-shadow(4px 3px 5px black);
}



#graffitiContainer .graffiti.frontFacing {}

#graffitiContainer .graffiti.stairs {
    transform: rotateY(305deg) rotateX(34deg) rotateZ(5deg);
}


#graffitiContainer .graffiti.leftFacing,
.roomItem.leftFacing {
    transform: skewY(30deg) scaleY(1.25);
}


#graffitiContainer .graffiti.rightFacing,
.roomItem.rightFacing {
    transform: skewY(330deg) scaleY(1.25);
}



#graffitiContainer .graffiti.upFacing {
    transform: rotateX(60deg) rotateZ(calc(var(--rot) * 2));
}

#graffitiContainer .graffiti.nesMonitor {
    transform: skew(0deg, 19deg);
}

#graffitiContainer .graffiti.nesMonitor .graffitiContent.image {
    width: 66px;
    height: 49px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}


#graffitiContainer .graffiti.pcMonitor {
    transform: skew(0deg, 355deg);
}

#graffitiContainer .graffitiItemContainer.image.pcMonitor,
#graffitiContainer .graffitiItemContainer.image.nesMonitor,
#graffitiContainer .graffitiItemContainer.image.jacuzziMonitor {
    transform: translate(-50%, -50%);
    /* don't allow rotations on the monitors */
}

#graffitiContainer .graffiti.pcMonitor .graffitiContent.image {
    width: 72px;
    height: 46px;
    background-size: cover;
    filter: drop-shadow(0px 0px 15px #fff);
}


#graffitiContainer .graffiti.jacuzziMonitor .graffitiContent.image {
    width: 24px;
    height: 28px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}

#graffitiContainer .graffiti.jacuzziMonitor {
    transform: skew(342deg, 36deg);
}




@keyframes upFacingGraffitiRotateAnim {
    0% {
        transform: rotateX(60deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(60deg) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.upFacingRotateAnim {
    animation: upFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}




@keyframes frontFacingGraffitiRotateAnim {
    0% {
        transform: rotateX(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(0deg) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.frontFacingRotateAnim {
    animation: frontFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}




@keyframes rightFacingGraffitiRotateAnim {
    0% {
        transform: skewY(330deg) scaleY(1.2) rotateZ(0deg);
    }

    100% {
        transform: skewY(330deg) scaleY(1.2) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.rightFacingRotateAnim {
    animation: rightFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}




@keyframes leftFacingGraffitiRotateAnim {
    0% {
        transform: skewY(30deg) scaleY(1.2) rotateZ(0deg);
    }

    100% {
        transform: skewY(30deg) scaleY(1.2) rotateZ(360deg);
    }
}

#graffitiContainer .graffiti.leftFacingRotateAnim {
    animation: leftFacingGraffitiRotateAnim 40s infinite;
    animation-timing-function: linear;
}








#graffitiContainer .graffiti.nofilter .graffitiContent.image {
    filter: none;
}

@keyframes graffitiHueRotateAnim {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#graffitiContainer .graffiti.hueRotateAnim .graffitiContent.image {
    animation: graffitiHueRotateAnim 50s infinite;
    animation-timing-function: linear;
}


/*
RX = duration / 10
RY = range of Y movement
RZ = range of rotation

*/
@keyframes jacuzziFloatAnim {
    0% {
        transform: translateY(calc(var(--extentY) * var(--RY))) rotateZ(calc(var(--extentZ) * -1 * var(--RZ)))  translate(-50%, -50%);
    }

    33% {
        transform: translateY(calc(var(--extentY) * -1 * var(--RY))) rotateZ(calc(var(--extentZ) * -0.333 * var(--RZ)))  translate(-50%, -50%);
    }

    66% {
        transform: translateY(calc(var(--extentY) * var(--RY))) rotateZ(calc(var(--extentZ) * 0.333 * var(--RZ)))  translate(-50%, -50%);
    }

    100% {
        transform: translateY(calc(var(--extentY) * -1 * var(--RY))) rotateZ(calc(var(--extentZ) * var(--RZ)))  translate(-50%, -50%);
    }
}


#graffitiContainer .graffitiItemContainer.jacuzziFloating {
    --extentY: 15px;
    --extentZ: 10deg;
    animation: jacuzziFloatAnim calc(6s * var(--RX) + 3s * (var(--seed) - .5)) infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}



/*
RX = duration
RY = field of view
RZ = range of rotation

*/
@keyframes SignFloatAnim3D_LeftFacing {
    0% {
        transform: rotateY(calc(var(--rotExtentY) * -1 * var(--RZ))) rotateX(calc(var(--rotExtentX) * -1 * var(--RZ))) skewY(30deg);
    }

    33% {
        transform: rotateY(calc(var(--rotExtentY) * var(--RZ))) rotateX(calc(var(--rotExtentX) * -.333 * var(--RZ))) skewY(30deg);
    }

    66% {
        transform: rotateY(calc(var(--rotExtentY) * -1 * var(--RZ))) rotateX(calc(var(--rotExtentX) * .333 * var(--RZ))) skewY(30deg);
    }

    100% {
        transform: rotateY(calc(var(--rotExtentY) * var(--RZ))) rotateX(calc(var(--rotExtentX) * var(--RZ))) skewY(30deg);
    }
}


#graffitiContainer .graffitiItemContainer.floatingSign3D_LeftFacing {
    --rotExtentY: 15deg;
    --rotExtentX: 15deg;
    perspective-origin: calc(.5px * var(--size)) calc(.5px * var(--size));
    perspective: calc(100px + (1000px * var(--RY)));
}

#graffitiContainer .graffitiItemContainer .floatingSign3D_LeftFacing {
    animation: SignFloatAnim3D_LeftFacing calc(20s * var(--RX)) infinite;
    transform-origin: calc(.5px * var(--size)) calc(.5px * var(--size));
    animation-timing-function: linear;
    animation-direction: alternate;
}


@keyframes SignFloatAnim3D_RightFacing {
    0% {
        transform: rotateY(calc(var(--rotExtentY) * -1 * var(--RZ))) rotateX(calc(var(--rotExtentX) * -1 * var(--RZ))) skewY(-30deg);
    }

    33% {
        transform: rotateY(calc(var(--rotExtentY) * var(--RZ))) rotateX(calc(var(--rotExtentX) * -.333 * var(--RZ))) skewY(-30deg);
    }

    66% {
        transform: rotateY(calc(var(--rotExtentY) * -1 * var(--RZ))) rotateX(calc(var(--rotExtentX) * .333 * var(--RZ))) skewY(-30deg);
    }

    100% {
        transform: rotateY(calc(var(--rotExtentY) * var(--RZ))) rotateX(calc(var(--rotExtentX) * var(--RZ))) skewY(-30deg);
    }
}


#graffitiContainer .graffitiItemContainer.floatingSign3D_RightFacing {
    --rotExtentY: 15deg;
    --rotExtentX: 15deg;
    perspective-origin: calc(.5px * var(--size)) calc(.5px * var(--size));
    perspective: calc(100px + (1000px * var(--RY)));
}

#graffitiContainer .graffitiItemContainer .floatingSign3D_RightFacing {
    animation: SignFloatAnim3D_RightFacing calc(20s * var(--RX)) infinite;
    transform-origin: calc(.5px * var(--size)) calc(.5px * var(--size));
    animation-timing-function: linear;
    animation-direction: alternate;
}







.roomItem {
    border: none;
    background: none;
    font-size: 24px;
    color: #0aa;
    text-shadow: 0 0 3px black;
}




.backgroundLayer.parallaxBG {
    background-color: black;
}

.room7jam section#radioVis {

    flex-direction: row-reverse;
}


.room7jam.roomItem.radioItem.radioMetadata {
    font-size: 24px;
    color: #0cc;
    text-shadow: 0 0 4px black, 0 0 4px black;
    z-index: var(--z-index-radio-metadata);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.room7jam.roomItem.radioItem.radioMetadata .radioStationName {
    font-size: 20px;
    color: #999;
}

.room7jam.roomItem.radioItem.radioMetadata .connectionState.offline {
    font-size: 40px;
    color: #000;
}

.room7jam.roomItem.radioItem.radioMetadata .connectionState.disconnected {
    font-size: 40px;
    color: #aa0;
}

.room7jam.roomItem.radioItem.radioMetadata .streamName {
    font-size: 20px;
    color: #aaa;
}

.room7jam.roomItem.radioItem.radioMetadata .streamDescription {
    font-size: 12px;
    color: #aaa;
    font-style: italic;
}

.room7jam.roomItem.radioItem.radioMetadata .nowPlayingArtist {
    font-size: 60px;
    color: #ee0;
}

.room7jam.roomItem.radioItem.radioMetadata .nowPlayingTitle {
    font-size: 40px;
    color: #e50;
    line-height: 40px;
}