.roomItem.graffitiText {
    transform: skewY(-30deg) scaleY(120%);
    border: 0;
    color: #aa0;
    background: none;
    font-size: 24px;
    text-shadow: 4px -4px 8px black, 0 0 15px #0aa;
    text-align: right;
}

.roomItem.graffitiText.announcementText {
    color: #7ac8ff;
    text-shadow: 0px 0px 3px black, 0px 0px 13px black;
    opacity: 60%;
    font-size: 36px;
}

#graffitiContainer .graffiti .graffitiContent.image {
    filter: drop-shadow(4px 3px 5px black);
}



#graffitiContainer .graffiti.frontFacing {}

#graffitiContainer .graffiti.stairs {
    transform: rotateY(305deg) rotateX(34deg) rotateZ(5deg);
}


#graffitiContainer .graffiti.leftFacing {
    transform: skewY(30deg) scaleY(1.25);
}


#graffitiContainer .graffiti.rightFacing {
    transform: skewY(330deg) scaleY(1.25);
}



#graffitiContainer .graffiti.upFacing {
    transform: rotateX(60deg) rotateZ(calc(var(--rot) * 2));
}

#graffitiContainer .graffiti.nesMonitor {
    transform: skew(0deg, 19deg);
}

#graffitiContainer .graffiti.nesMonitor .graffitiContent.image {
    width: 66px;
    height: 49px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}


#graffitiContainer .graffiti.pcMonitor {
    transform: skew(0deg, 355deg);
}

#graffitiContainer .graffitiItemContainer.image.pcMonitor,
#graffitiContainer .graffitiItemContainer.image.nesMonitor,
#graffitiContainer .graffitiItemContainer.image.jacuzziMonitor {
    transform: translate(-50%, -50%);
    /* don't allow rotations on the monitors */
}

#graffitiContainer .graffiti.pcMonitor .graffitiContent.image {
    width: 72px;
    height: 46px;
    background-size: cover;
    filter: drop-shadow(0px 0px 15px #fff);
}


#graffitiContainer .graffiti.jacuzziMonitor .graffitiContent.image {
    width: 24px;
    height: 28px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}

#graffitiContainer .graffiti.jacuzziMonitor {
    transform: skew(342deg, 36deg);
}



.roomItem {
    border: none;
    background: none;
    font-size: 24px;
    color: #0aa;
    text-shadow: 0 0 3px black;
}




.backgroundLayer.parallaxBG {
    background-color: black;
}