
ul.keyboard {
	display:flex;
	margin:0;
	padding:0;
}

ul.keyboard li {
	margin: 0;
	padding: 0;
	list-style: none;
	transition: background-color 0.45s;
}

ul.keyboard .white {
	height: 108px;
	z-index: 1;
	width: 20px;
	border-radius: 0 0 3px 3px;
	background-color:white;
}

ul.keyboard .black {
	height: 62px;
	width: 14px;
	z-index: 2;
	margin-left: -7px;
	margin-right: -7px;
	background-color: black;
}

ul.keyboard .active {
	transition: background-color 0s;
}




/* for a realistic keyboard look you should offset the black keys. however because this
is quite small, it's actually visually clearer if they're centered, because it's a clearer group of 2, 3 black keys.
ul.keyboard .cs {
}

ul.keyboard .ds {
}

ul.keyboard .fs {
}

ul.keyboard .gs {
}

ul.keyboard .as {
}
*/

ul.keyboard li.white {
	box-shadow:
		0 0 5px #ccc inset,
		0 0 1px black;

		display: flex;
		align-items: flex-end;
		justify-content: center;		
}

ul.keyboard li.black {
	box-shadow:
		0 2px 4px rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: flex-end;
		justify-content: center;		
}


ul.keyboard li span.drum {
    /* background-color: red; */
    width: 16px;
    height: 7px;
	transition: background-color 0.2s;
}

ul.keyboard li span.drum.active {
	transition: background-color 0s;
}
