
#thisIsPrettyMuchJustAPlaceHolder {
    margin: 0;
}




.roomItem.graffitiText {
    transform:skewY(-27deg) scaleY(120%);
    border:0;
    color:#aa0;
    background: none;
    font-size: 24px;
    text-shadow: 4px -4px 8px black, 0 0 15px #0aa;
    text-align: right;
}




#graffitiContainer .graffiti .graffitiContent.image {
    filter: drop-shadow(-7px 3px 5px black) grayscale(50%);
}


#graffitiContainer .graffiti.leftWall
{
    transform:skewY(-30deg) scaleY(140%);
}


#graffitiContainer .graffiti.rightWall
{
    transform:skewY(30deg) scaleY(140%);
}

#graffitiContainer .graffiti.floor
{
    transform: perspective(600px) rotateX(30deg); 
}



.backgroundLayer.parallaxBG {
    background-color: black;
}

.backgroundLayer.milkywayBG {
    /* opacity: 25%; causes whole room to be opaque */
}

