
#thisIsPrettyMuchJustAPlaceHolder {
    margin: 0;
}

#roomArea {
    background-color: rgb(36, 0, 56);
}





.roomItem.graffitiText {
    transform:skewY(30deg) scaleY(140%);
    border:0;
    color:#4f4a;
    background: none;
    font-size: 24px;
/*      background: #0c09; */
    text-shadow: 4px -4px 8px black, 0 0 15px #0aa;
}


#graffitiContainer .graffiti.left,
#graffitiContainer .graffiti.cubeRight
{
    transform:skewY(-30deg) scaleY(140%);
}


#graffitiContainer .graffiti.right,
#graffitiContainer .graffiti.cubeLeft
{
    transform:skewY(30deg) scaleY(140%);
}

#graffitiContainer .graffiti.floor
{
    transform: perspective(600px) rotateX(30deg); 
}


#graffitiContainer .graffiti .graffitiContent.image{
    filter: drop-shadow(3px -3px 5px black) grayscale(50%);
}

