
#thisIsPrettyMuchJustAPlaceHolder {
    margin: 0;
}

#roomArea {
    background-color: rgb(36, 0, 56);
}





.roomItem.graffitiText {
    transform:skewY(30deg) scaleY(140%);
    border:0;
    color:#4f4a;
    background: none;
    font-size: 24px;
/*      background: #0c09; */
    text-shadow: 4px -4px 8px black, 0 0 15px #0aa;
}


#graffitiContainer .graffiti {
    max-width: 200px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -.5px;
    text-shadow:0 0 5px #000;
}


#graffitiContainer .graffiti.left {
    transform:skewY(-30deg) scaleY(140%);
}


#graffitiContainer .graffiti.right {
    transform:skewY(30deg) scaleY(140%);
}


#graffitiContainer .graffiti .graffitiContent.image{
    width:100px;
    height:100px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    filter: drop-shadow(3px -3px 5px black) grayscale(50%);
}
