.sequencerFrame {
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: monospace;
    /* padding: 10px; */
    padding-right: 150px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.sequencerMain {
    color: #044;
    background-color: #ffd;
    z-index: var(--z-index-sequencer-main);
    display: flex;
    flex-direction: column;
    padding: 6px;
    height: 100%;
    box-shadow: 0px 0px 7px #000, inset 0px 0px 4px #000;
    position: relative;
    /* allow absolute positioning on the seq */
}

.sequencerMain button {
    cursor: auto;
    /* to support observer mode / read-only states, default to no pointer. make it explicit */
}

.sequencerMain .overlay {
    position: absolute;
    right: 20px;
    top: 20px;
}

.sequencerMain .notOverlay {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sequencerMain .seqTop {
    display: flex;
    align-items: flex-start;
    max-width: 1400px;
    margin-right: 50px;
}

.sequencerMain .seqTopColumn {
    display: flex;
    flex-direction: column;
}

.sequencerMain .seqTopRow {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-shadow: none;
}

.sequencerMain fieldset {
    display: flex;
    margin: 0;
    margin-right: 15px;
    border: 0;
    /* border-right: 0; */
    /* border-left: 3px solid #a66; */
    border-radius: 6px;
    padding: 0;
    margin-bottom: 7px;
    /* for when the flexbox wraps */
    /* border: 0; */
    border-radius: 5px;
    background-color: #dda;
}

.sequencerMain fieldset>*:first-child {
    /* allows param groups without a legend */
    padding-left: 4px;
    padding-right: 4px;
}

.sequencerMain fieldset .legend {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    text-transform: uppercase;
}

/* fieldset -> multiple paramgroups -> legend, paramblock -> whatever controls*/
.sequencerMain fieldset .paramBlock {
    display: flex;
    padding: 0px;
}



.sequencerMain .paramGroup {
    display: flex;
    /* margin-left: 12px; */
    /* background-color: #897c62; */
    /* padding-right: 10px; */
    height: 40px;
}

.sequencerMain .paramGroup:first-child {
    margin-left: 0px;
}

.sequencerMain .paramGroup:hover {
    background-color: #c558;
}

.sequencerMain .paramGroup canvas.knob {
    padding: 0;
    /* background-color: #044; */
}

.sequencerMain fieldset .paramValue {
    display: flex;
    background-color: #044;
    width: 40px;
    color: #0cc;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    box-shadow: inset 0 0 10px black;
    text-shadow: 0 0 7px #fff8;
    /* padding-left: 6px; */
    /* padding-right: 6px; */
    /* min-width: 30px; */
}


.sequencerMain .seqTopColumn.playButton .paramGroup {
    height: unset;
    /* need to undo the fixed row right */
}

.sequencerMain button.playButton, .sequencerMain button.cueButton {
    height: 80px;
    width: 90px;
    margin: 3px 3px;
    position: relative;
}

.sequencerMain button.cueButton {
    margin: 1px 3px;
}

.sequencerMain button.cueButton.playMode.Arpeggiator {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.sequencerMain button.arpMode,
.sequencerMain button.baseNote {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    margin-bottom: 4px;
}

.sequencerMain button.playButton.active {
    background-color: #7f7;
    color: #444;
    box-shadow: 0 0 10px #7F7, inset 0 0 18px #888c;
}


@keyframes playButtonListening {
    0% {
        background-color: var(--c1);
    }
    
    80% {
        background-color: var(--c1);
    }
    85% {
        background-color: var(--c2);
    }

    95% {
        background-color: var(--c2);
    }
}

.sequencerMain button.playButton.active .swallowsIndicator {
    --c1: #44f;
    --c2: #99f;
    background-color: var(--c1);
    animation: playButtonListening .8s linear infinite;
    position: absolute;
    border-radius: 50%;
    --d: 10px;
    width: var(--d);
    height: var(--d);
    top: 0;
    right: 0;
    margin: 7px;
    box-shadow: 0 0 6px var(--c1);
}

.sequencerMain button.playButton>* {
    font-size: 72px;
}

.sequencerMain .pianoRollScrollCont {
    /* width: calc(100% - 20px); */
    background-color: black;
    flex-grow: 1;
    overflow: scroll;
    display: flex;
}

.sequencerMain .pianoRollScrollCont .pianoRollLegendCont {
    position: sticky;
    left: 0;
}

.sequencerMain button {
    border: 0;
    width: 20px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px #8886, 0 0 2px #888;
    color: #088;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sequencerMain button:hover {
    background-color: #ddd;
}

.sequencerMain button.disabled {
    background-color: #bbb;
}

.sequencerMain button.active,
.sequencerMain button.active.disabled {
    background-color: #fc0;
    box-shadow: inset 0px 0px 18px #fff;
}

.sequencerMain .buttonArray {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3px;
    margin-left: 3px;
}

.sequencerMain .buttonArray.vertical {
    flex-direction: column;
    margin-left: 0px;
}


.sequencerMain .buttonArray.vertical button {
    margin: 0;
    box-shadow: inset 0 0 12px #8888, inset 0 0 1px #888;
    height: 50%;
    width: 30px;
    border-radius: 0;
}



.sequencerMain input[type="text"i] {
    border: 0;
    font-size: 18px;
    text-align: center;
    background: none;
    font-family: monospace;
    color: #0ff;
    width: inherit;
}

.sequencerMain input[type="text"i]:focus {
    border: 0;
}


.sequencerMain .buttonArray:not(.vertical) button:first-child {
    margin-left: 5px;
}


.sequencerMain button.altui {
    background-color: #548;
    color: #dcf;
    box-shadow: 0 0 6px #5488;
}

.sequencerMain button.altui:hover {
    background-color: #dcf;
    color: #fff;
}

.sequencerMain button.altui.disabled {
    background-color: #888;
    color: #ccc;
    box-shadow: 0 0 6px #8888;
}

.sequencerMain button.clearPattern {
    background-color: #854;
    color: #dcf;
    box-shadow: 0 0 6px #8548;
}

.sequencerMain button.clearPattern:hover {
    background-color: #fcd;
    color: #fff;
}

.sequencerMain button.initPreset {
    width: unset;
    /* allow text */
}


.sequencerMain .paramValue.presetName {
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
}

.sequencerMain button.powerButton {
    height: 40px;
    width: 40px;
    box-shadow: inset 0px 0px 18px #8884, 0 0 12px #8884, 0 0 2px #0008;
}

.sequencerMain button.powerButton>* {
    font-size: 28px;
}



.sequencerMain .dialog {
    position: fixed;
    background-color: #022;
    border: 2px solid #055;
    color: #0cc;
    font-family: monospace;
    font-size: 16px;
    z-index: var(--z-index-sequencer-dialog);
}

.sequencerMain .dialog legend {
    color: #aa0;
    padding: 7px;
    background-color: #220;
    max-width: 522px;
}

.sequencerMain ul.dropDownMenu {
    padding: 0;
    max-height: 450px;
    /* super long menus will get hidden; this allows scrolling */
    overflow: auto;
}

.sequencerMain ul.dropDownMenu li {
    padding: 2px;
}

.sequencerMain ul.dropDownMenu li.selected {
    background-color: #550;
}

.sequencerMain ul.dropDownMenu li:hover {
    background-color: #066;
}

.sequencerMain .dialog .dialogContainer {
    height: 100%;
    width: 100%;
}








.sequencerMain ul.pianoRollLegend {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    /* extra scroll margin */
    flex-direction: column;
}

.sequencerMain ul.pianoRollLegend li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;

    width: 120px;
    background-color: #ffe;
    height: 44px;
    box-shadow: 0 0 9px #0003 inset, 0 0 1px #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 4px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.sequencerMain ul.pianoRollLegend li.white {
    color: #066;
}

.sequencerMain ul.pianoRollLegend li.black {
    background-color: #333;
    box-shadow: 0 0 9px #ffd2 inset;
}

.sequencerMain ul.pianoRollLegend li .rowName {
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    color: #555;
}

.sequencerMain ul.pianoRollLegend li .muteRow {
    width: 18px;
    height: 18px;
    background-color: #8885;
    margin-left: 5px;
    margin-right: 8px;
    text-align: center;
    color: #8888;
}

.sequencerMain ul.pianoRollLegend li .muteRow:hover {
    background-color: #ccc5;
    color: #888;
}

.sequencerMain ul.pianoRollLegend li .muteRow.muted {
    background-color: #c44;
    color: #ccc;
}

.sequencerMain ul.pianoRollLegend li .muteRow.muted:hover {
    background-color: #f44;
}













/*  ----- preset dialog ----- */

.sequencerMain .dialog.presetDialog {
    transform: translate(-50%, 25px);
    background-color: #222;
    color: #0aa;
    width: 400px;
}

.sequencerMain .dialog.presetDialog .dialogContainer>legend {
    text-align: center;
    background-color: #033;
    font-weight: bold;
}

.sequencerMain .dialog.presetDialog fieldset {
    display: block;
    margin: 6px;
    padding: 1px;
    min-inline-size: auto;
    border: 2px solid #003838;
    border-radius: 15px;
    background: linear-gradient(to bottom, #00cccc15, #00cccc07);
    font-size: small;
}

.sequencerMain .dialog.presetDialog fieldset>.legend {
    font-weight: bold;
    /* text-align: left; */
    justify-content: left;
    color: #aa0;
}


.sequencerMain .dialog.presetDialog input[type="text"i] {
    background-color: #444;
    border: 2px solid #055;
    text-align: unset;
    color: #0cc;
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: small;
    margin: 2px;

}

.sequencerMain .dialog.presetDialog button {
    background-color: #444;
    color: #888;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    padding: 2px;
    height: unset;
    width: unset;
    /* flex-grow: 1; */
}

.sequencerMain .dialog.presetDialog button.clickable {
    background-color: #055;
    color: #0aa;
}

.sequencerMain .dialog.presetDialog button.clickable:hover {
    background-color: #055;
}

.sequencerMain .dialog.presetDialog button.radio {
    background: none;
    color: #666;
    border: 1px solid #666;
    padding: 2px 6px;
    border-radius: 8px;
}

.sequencerMain .dialog.presetDialog button.radio:hover {
    color: #888;
    border: 1px solid #888;
    background-color: unset;
}


.sequencerMain .dialog.presetDialog button.radio.active {
    color: #0aa;
    background-color: #033;
    border: 1px solid #0aa;
}

.sequencerMain .dialog.presetDialog button.radio.active:hover {
    color: #0cc;
    background-color: #044;
    border: 1px solid #0cc;
}


.sequencerMain .dialog.presetDialog li {
    display: flex;
    align-items: center;
}

.sequencerMain .dialog.presetDialog li.presetItem {
    background-color: #044;
    display: block;
    margin-bottom: 6px;
}

.sequencerMain .dialog.presetDialog li.presetItem:hover {
    background-color: #055;
}


.sequencerMain .dialog.presetDialog li.presetItem .presetName {
    color: #bbb;
    font-size: 16px;
    display: block;
}


.sequencerMain .dialog.presetDialog li.presetItem .description {
    font-style: italic;
    display: block;
}

.sequencerMain .dialog.presetDialog li.presetItem .authorAndDateBox {
    color: #888;
    font-size: x-small;
    font-style: italic;
    display: block;
}

.sequencerMain .dialog.presetDialog li.presetItem .includeInstrumentPatch {
    color: #888;
    font-size: x-small;
    font-style: italic;
    display: block;
}




.sequencerMain .dialog.presetDialog .confirmationBox {
    color: #8cc;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #a00;
    background-color: #200;
    white-space: normal;
    border-left: 7px solid #a00;
}

.sequencerMain .dialog.presetDialog .confirmationBox button {
    background-color: #666;
    color: #000;
    padding: 5px;
    /* width: unset; */
}

.sequencerMain .dialog.presetDialog .confirmationBox button:hover {
    background-color: #acc;
}

.sequencerMain .dialog.presetDialog ul.presetsList {
    max-height: 400px;
    overflow-y: auto;
}

.sequencerMain .dialog.presetDialog li .buttonContainer {
    float: right;
    line-height: 10px;
    visibility: hidden;
}

.sequencerMain .dialog.presetDialog li:hover .buttonContainer {
    visibility: visible;
}

.sequencerMain .dialog.presetDialog li .buttonContainer button {
    background-color: #333;
    color: #0cc;
}

.sequencerMain .dialog.presetDialog li .buttonContainer button:hover {
    background-color: #044;
}


.sequencerMain .dialog.presetDialog ul.buttonPatchOps {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
}

.sequencerMain .dialog.presetDialog .presetItem.selected {
    border-left: 8px solid #cc0;
}



/*  ----- play indicators ----- */
.sequencerMain ul.pianoRollLegend li.topIndicator,
.sequencerMain ul.pianoRollColumn li.playhead {
    height: 10px;
    position: sticky;
    top: 0;
    border-radius: 0;
    font-size: small;
    text-align: center;
    color: #ccc;
    font-weight: bold;
    background-color: black;
    box-shadow: none;
    text-shadow: none;
    /* justify-content: flex-start; */
}

.sequencerMain ul.pianoRollColumn.playing li.playhead {
    background-color: #8888;
}

.sequencerMain ul.pianoRollColumn.playing.majorBeat li.playhead {
    background-color: #f44;
}

.sequencerMain ul.pianoRollColumn li.playhead .divControls {
    display: none;
}

.sequencerMain ul.pianoRollColumn li.playhead:hover .divControls {
    display: block;
}


.sequencerMain button.cueButton {
    height: 23px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 14px;
    color: #055;
    /* background-color: #c7ffcb; */
}

.sequencerMain button.cueButton.active {
    background-color: #f00;
}

.sequencerMain .seqTopColumn.playButton .paramBlock {
    flex-direction: column;
}





/*  ----- specific configs ----- */

.sequencerMain ul.pianoRollLegend li.tom {
    background-color: #dda;
}

.sequencerMain ul.pianoRollLegend li.cymbal {
    background-color: #add;
}

.sequencerMain ul.pianoRollLegend li.snare {
    background-color: #bbe;
}




.sequencerMain ul.pianoRollLegend li.triangle {
    background-color: #add;
}

.sequencerMain ul.pianoRollLegend li.agogo {
    background-color: #add;
}

.sequencerMain ul.pianoRollLegend li.shaker {
    background-color: #add;
}

.sequencerMain ul.pianoRollLegend li.aux {
    background-color: #daa;
}

.sequencerMain ul.pianoRollLegend li.guiro {
    background-color: #ada;
}

.sequencerMain ul.pianoRollLegend li.timbale {
    background-color: #add;
}

.sequencerMain ul.pianoRollLegend li.bongotom {
    background-color: #dad;
}

.sequencerMain ul.pianoRollLegend li.conga {
    background-color: #dda;
}



.sequencerMain ul.pianoRollLegend li.oct4.white {
    background-color: #fff;
}

.sequencerMain ul.pianoRollLegend li.oct3.white {
    background-color: #ffc;
}

.sequencerMain ul.pianoRollLegend li.oct2.white {
    background-color: #fcc;
}

.sequencerMain ul.pianoRollLegend li.oct1.white {
    background-color: #ccf;
}



/* --- edit menu stuff --- */
.sequencerMain .editButton {
    width: auto;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.sequencerMain fieldset.editButtonFieldset {

    background-color: #8cc;

    border-color: #088;
}

.sequencerMain .editRow {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}


.sequencerMain .editRow button {
    width: auto;
    /* border-radius: 2px; */
    box-shadow: inset 0px 0px 10px #8884, 0 0 4px #0004;
    padding-top: 0;
    padding-bottom: 0;
}

.sequencerMain .editRow fieldset {
    background-color: #8cc;
    border: 0;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-right: 8px;
    border-left: 4px solid #088;
}

.sequencerMain .editRow .legend {
    /* white-space: normal; */
}

.sequencerMain .editRow .vertbuttons {}

.sequencerMain .editRow .vertbuttons button {
    height: 20px;
    box-shadow: none;
}

.sequencerMain .editRow .horizbuttons {
    display: flex;
    align-items: center;
}



.sequencerMain .editRow .vertbuttons button:first-child {
    margin-bottom: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sequencerMain .editRow .vertbuttons button:last-child {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sequencerMain .editRow .horizbuttons button {
    box-shadow: none;
}


.sequencerMain .editRow .horizbuttons button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 1px;
}

.sequencerMain .editRow .horizbuttons button:last-child {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


.sequencerMain .editRow button i {
    font-size: 24px;
}


.sequencerMain .editRow .noteglyph {
    font-size: 24px;
}


.sequencerMain .editRow .editCloseFieldset {

    border: 0;

    /* align-items: flex-start; */

    /* flex-grow: 0; */

    /* flex-shrink: 1; */

    background-color: #bee;
}

.sequencerMain .editRow .editCloseButton {
    box-shadow: none;
    background: none;
    /* padding: 0; */
}

.sequencerMain .editRow .editCloseButton i {
    font-size: 18px;
}



.sequencerMain fieldset .paramValue.altvalue {
    color: #ff0;
}




.sequencerMain .tapTempo {
    display: flex;
    background-color: #0883;
}

.sequencerMain .tapTempo .helpText {
    display: none;
}

.sequencerMain .tapTempo button {
    width: auto;
    border-radius: 0;
}

.sequencerMain .tapTempo button.save,
.sequencerMain .tapTempo button.cancel {
    background-color: #ccf;
}

.sequencerMain .tapTempo .bpmValue {
    font-size: 24px;
}

.sequencerMain .tapTempo .bpmLegend {
    font-size: 16px;
    color: #088;
}







/* ---- note styling ---- */
/* notes cells are like,
    <li class="white g note var1 hihat"> "white g" are of note legend, "note" means there's a note here, "var1" is a globally-understood variation index, and "hihat" is of note legend.
        <div class="noteBase">
            <div class="noteOL">
                <div class="muteOL">
                    div.noteOnHandle
                    div.cellBody
                    div.noteOffHandle

    li classes are the most descriptive; important ones:
    STATES:
        - .muted
        - :hover
    NOTES:
        - .note
        - .beginnoteon, .begincontinue
        - .endnoteon, .endcontinue
        - .vel1 / .vel1
    DRAG
        - .dragTarget
        - .dragSrc
        - .dragbeginnoteon, .dragbegincontinue
        - .dragendnoteon, .dragendcontinue
*/


/*  ----- note cells ----- */

.sequencerMain .pianoRollContainer {
    /* display:flex; tempting but this causes the sticky header to not work. */
    white-space: nowrap;
    pointer-events: none;
}

.sequencerMain ul.pianoRollColumn {
    padding: 0;
    margin: 0;
    /* position:relative; */
    /* allow abs position children (beat indicator) */
    /* flex-grow: 1; */
    display: inline-block;
    /* required for the sticky header row*/
}

.sequencerMain ul.pianoRollColumn li {
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sequencerMain ul.pianoRollColumn li div {
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.sequencerMain ul.pianoRollColumn li>div {
    margin: 2px;
}

.sequencerMain ul.pianoRollColumn li .noteOL,
.sequencerMain ul.pianoRollColumn li:hover .noteBase,
.sequencerMain ul.pianoRollColumn li .hoverOL,
.sequencerMain ul.pianoRollColumn li .noteOnHandle,
.sequencerMain ul.pianoRollColumn li .noteOffHandle {
    border-radius: 3px;
}

.sequencerMain ul.pianoRollColumn li.begincontinue.dragTargetbeginnoteon div

/* while dragging over existing notes, round corners */
    {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sequencerMain ul.pianoRollColumn li.endcontinue.dragTargetendnoteoff div {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}




.sequencerMain ul.pianoRollColumn.minorBeat li {
    border-left: 2px solid #222;
}

.sequencerMain ul.pianoRollColumn.majorBeat li {
    border-left: 2px solid #355;
}

.sequencerMain ul.pianoRollColumn.beginMeasure li {
    border-left: 4px solid #aa8;
}





.sequencerMain ul.pianoRollLegend li.c {
    border-bottom: 3px solid #666;
}

.sequencerMain ul.pianoRollColumn li.c .muteOL {
    border-bottom: 3px solid #666;
}





.sequencerMain ul.pianoRollColumn li .noteBase {
    background-color: #333;
    /*     align-items: center; */
}

.sequencerMain ul.pianoRollColumn li:hover .noteBase {}

.sequencerMain ul.pianoRollColumn li.muted .muteOL {
    background-color: #0008;
}



.sequencerMain ul.pianoRollColumn li .muteOL {
    border: 2px solid transparent;
}

.sequencerMain ul.pianoRollColumn li:hover .muteOL {
    border-radius: 3px;
    border: 2px solid #777;
}


.sequencerMain ul.pianoRollColumn li.note .noteOL {
    background-color: #484;
    /* box-shadow: inset 0px 0px 18px #888, 0px 0px 18px #4f48; */
}

.sequencerMain ul.pianoRollColumn li.note.genvel1 .noteOL {
    background-color: #738;
    /* box-shadow: inset 0px 0px 18px #444, 0px 0px 18px #7e0d9b; */
}


.sequencerMain ul.pianoRollColumn li.note.muted .noteOL {
    background-color: #575;
    box-shadow: none;
}

.sequencerMain ul.pianoRollColumn li.note.muted.genvel1 .noteOL {
    background-color: #757;
    box-shadow: none;
}



.sequencerMain ul.pianoRollColumn li .noteOnHandle,
.sequencerMain ul.pianoRollColumn li .noteOffHandle {
    visibility: hidden;
}

/* show handles */
.sequencerMain ul.pianoRollColumn li.beginnoteon .noteOnHandle,
.sequencerMain ul.pianoRollColumn li.endnoteoff .noteOffHandle,
.sequencerMain ul.pianoRollColumn li.dragTargetbeginnoteon .noteOnHandle,
.sequencerMain ul.pianoRollColumn li.dragTargetendnoteoff .noteOffHandle {
    width: max(20%, 5px);
    background-color: #fff3;
    cursor: ew-resize;
    visibility: visible;
}

.sequencerMain ul.pianoRollColumn li.endcontinue div,
.sequencerMain ul.pianoRollColumn li.dragTargetendcontinue div {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sequencerMain ul.pianoRollColumn li.begincontinue div,
.sequencerMain ul.pianoRollColumn li.dragTargetbegincontinue div {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sequencerMain ul.pianoRollColumn li.begincontinue .noteBase,
.sequencerMain ul.pianoRollColumn li.dragTargetbegincontinue .noteBase {
    flex-grow: 0;
    margin-left: 0;
}

.sequencerMain ul.pianoRollColumn li.endcontinue .noteBase,
.sequencerMain ul.pianoRollColumn li.dragTargetendcontinue .noteBase {
    flex-grow: 0;
    margin-right: 0;
}





.sequencerMain ul.pianoRollColumn li .muteOL>div {
    flex-grow: 0;
}

.sequencerMain ul.pianoRollColumn li .muteOL>.cellBody {
    flex-grow: 1;
}


.sequencerMain ul.pianoRollColumn li.dragTarget .noteOL,
.sequencerMain ul.pianoRollColumn li.dragTarget.note.genvel0 .noteOL,
/* specificity lol. ALL notes should be gray */
.sequencerMain ul.pianoRollColumn li.dragTarget.note.genvel1 .noteOL {
    background-color: #0aa;
    /* tempting for drop targets to animate this, but it's many cells and they'll get out of phase.*/
}

.sequencerMain ul.pianoRollColumn li.dragTarget.note.genvel0 .noteOL,
.sequencerMain ul.pianoRollColumn li.dragTarget.note.genvel1 .noteOL,
.sequencerMain ul.pianoRollColumn li.dragTarget.note .noteOL {
    background-color: #077;
}

.sequencerMain ul.pianoRollColumn li.dragSrc .noteOL,
.sequencerMain ul.pianoRollColumn li.dragSrc.note.genvel0 .noteOL,
.sequencerMain ul.pianoRollColumn li.dragSrc.note.genvel1 .noteOL {
    background-color: #455;
}

/* when you drag a new note OVER the existing note.*/
.sequencerMain ul.pianoRollColumn li.dragTarget.dragSrc .noteOL,
.sequencerMain ul.pianoRollColumn li.dragTarget.dragSrc.note.genvel0 .noteOL,
.sequencerMain ul.pianoRollColumn li.dragTarget.dragSrc.note.genvel1 .noteOL {
    background-color: #099;
}

.sequencerMain ul.pianoRollColumn li.dragTargetbegincontinue .noteOnHandle,
.sequencerMain ul.pianoRollColumn li.dragTargetendcontinue .noteOffHandle {
    visibility: hidden;
}

.sequencerMain ul.pianoRollColumn li,
.sequencerMain ul.pianoRollColumn li .noteOnHandle,
.sequencerMain ul.pianoRollColumn li .noteOffHandle,
.sequencerMain ul.pianoRollColumn li .cellBody {
    pointer-events: all;
}




.sequencerMain .unicodeNote {
    font-size: 24px;
}





.sequencerMain fieldset.seqMode {
    /* border-left: 3px solid #1f201f; */
    background-color: #4e814e;
    color: #eee;
}

.sequencerMain fieldset.seqMode .legend {
    color: #bbb;
}

.sequencerMain fieldset.seqMode .paramValue {
    color: #e1e1e1;
    background-color: #242;
    box-shadow: inset 0 0 10px #0005;
    text-shadow: 0 0 12px #8f8;
    width: auto;
    padding: 0px 6px;
}

.sequencerMain fieldset.seqMode .swallows .paramValue {
    color: #88f;
    text-shadow: 0 0 18px #ffffff;
}


@keyframes baseNoteListening {
    0% {
        background-color: var(--red);
    }

    15% {
        background-color: #000;
    }

    50% {
        background-color: #000;
    }

    85% {
        background-color: var(--red);
    }
}


.sequencerMain fieldset.seqMode .baseNote .paramValue.active {
    --red: #b44;
    background-color: var(--red);
    animation: baseNoteListening .6s linear infinite;
}

.legend.baseNote.disabled {
    color: #444;
}


.sequencerMain fieldset.seqMode .baseNote .paramValue.disabled {
    color: #444;
    background-color: #0000;
    box-shadow: none;
}

.sequencerMain fieldset.seqMode .arpMapping .caption {}

.sequencerMain fieldset.seqMode .arpMapping .description {
    /* font-style:italic; */
    color: #bbb;
    padding-bottom: 4px;
    font-size: smaller;
    max-width: 400px;
}



.sequencerMain .listeningToInstrument .dialog li.default {
    color: #0aa;
    /* border-left: 6px solid #0aa; */
    background-color: #044;
}

.sequencerMain fieldset.seqMode .listeningToInstrument .paramValue.notdefault {
    color: #000;
    background-color: #c40;
}


.sequencerMain fieldset.seqMode .listeningToInstrument .scButton {}


.sequencerMain fieldset.seqMode .listeningToInstrument.clickable .scButton {
    color: #eee;
    background-color: #088;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #4b694b;
    width: 20px;
}


.sequencerMain fieldset.seqMode .listeningToInstrument.clickable .scButton:hover {
    background-color: #999;
}