

.sequencerFrame {
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: monospace;
    padding: 20px;
    padding-right: 150px;
    padding-left: 50px;
}

.sequencerMain {
    color: #044;
    background-color: #ffd;
    z-index: 8999;
    display: flex;
    flex-direction: column;
    padding: 8px;

    height: 100%;

    box-shadow: 0px 0px 7px #000, inset 0px 0px 4px #000;
    position:relative; /* allow absolute positioning on the seq */
}

.sequencerMain .overlay {
    position:absolute;
    right: 20px;
    top: 20px;
}

.sequencerMain .notOverlay {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sequencerMain .seqTop {
    display: flex;
    align-items: flex-start;
    max-width: 1400px;
}

.sequencerMain .seqTopColumn {
    display: flex;
}

.sequencerMain .seqTopRow {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sequencerMain fieldset {
    display: flex;
    margin: 0;
    margin-right: 15px;
    border: 3px solid #c88;
    border-right: 0;
    border-left: 0;
    border-radius: 6px;
    padding: 0;
    margin-bottom: 10px; /* for when the flexbox wraps */
}

.sequencerMain fieldset > *:first-child { /* allows param groups without a legend */
    padding-left: 8px;
    padding-right: 8px;
}

.sequencerMain fieldset .legend {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

/* fieldset -> multiple paramgroups -> legend, paramblock -> whatever controls*/
.sequencerMain fieldset .paramBlock {
    display: flex;
    padding: 0px;
}

.sequencerMain .paramGroup
{
    display: flex;
    margin-left: 12px;
    background-color: #c554;
    padding-right: 10px;
    height: 40px
}

.sequencerMain .paramGroup:first-child
{
    margin-left: 0px;
}

.sequencerMain .paramGroup:hover {
    background-color: #c558;
}

.sequencerMain fieldset .paramValue {
    display: flex;
    background-color: #044;
    width: 50px;
    color: #0cc;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    box-shadow: inset 0 0 10px black;
    text-shadow: 0 0 7px #fff8;
}

.paramValue.clickable
{
    cursor: pointer;
}

.sequencerMain .seqTopColumn.playButton .paramGroup {
    height: unset; /* need to undo the fixed row right */
}

.sequencerMain button.playButton  {
    height: 90px;
    width:90px;
}

.sequencerMain button.playButton.active  {
    background-color: #7f7;
    color: #444;
    box-shadow: 0 0 10px #7F7, inset 0 0 18px #888c;
}

.sequencerMain button.playButton > * {
    font-size: 72px;
}

.sequencerMain .pianoRollScrollCont {
    /* width: calc(100% - 20px); */
    background-color: black;
    flex-grow: 1;
    overflow: scroll;
    display: flex;
}

.sequencerMain button {
    border: 0;
    width: 20px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0px 0px 18px #8888, 0 0 2px #888;
    color: #088;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sequencerMain button:hover {
    background-color: #ddd;
}
.sequencerMain button.disabled {
    background-color: #bbb;
}

.sequencerMain button.active,
.sequencerMain button.active.disabled { 
    background-color: #fd0;
}

.sequencerMain .buttonArray  {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3px;
    margin-left: 3px;
}

.sequencerMain .buttonArray.vertical {
    flex-direction: column;
    margin-left: 0px;
}


.sequencerMain .buttonArray.vertical button {
    margin: 0;
    box-shadow: inset 0 0 12px #8888, inset 0 0 1px #888;
    height: 50%;
    width: 30px;
    border-radius: 0;
}



.sequencerMain input[type="text" i]
{
    border: 0;
    font-size: 18px;
    text-align: center;
    background: none;
    font-family: monospace;
    color: #0ff;
    width: inherit;
}

.sequencerMain input[type="text" i]:focus
{
    border: 0;
}


.sequencerMain .buttonArray:not(.vertical) button:first-child {
    margin-left: 5px;
}


.sequencerMain button.altui
{
    background-color: #548;
    color: #dcf;
    box-shadow: 0 0 6px #5488;
}

.sequencerMain button.altui:hover
{
    background-color: #dcf;
    color: #fff;
}

.sequencerMain button.altui.disabled
{
    background-color: #888;
    color: #ccc;
    box-shadow: 0 0 6px #8888;
}

.sequencerMain button.clearPattern
{
    background-color: #854;
    color: #dcf;
    box-shadow: 0 0 6px #8548;
}

.sequencerMain button.clearPattern:hover
{
    background-color: #fcd;
    color: #fff;
}

.sequencerMain button.initPreset {
    width:unset; /* allow text */
}


.sequencerMain .paramValue.presetName {
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
}

.sequencerMain button.powerButton
{
    height: 40px;
    width: 40px;
    box-shadow: inset 0px 0px 18px #8884, 0 0 12px #8884, 0 0 2px #0008;
}

.sequencerMain button.powerButton > * {
    font-size: 28px;
}



.sequencerMain .dialog {
    position: absolute;
    background-color: #022;
    border:2px solid #055;
    color:#0cc;
    font-family: 'Overpass', sans-serif; /*font-family: 'Courier New', Courier, monospace;*/
    font-size: 16px;
    z-index: 10000;
}
.sequencerMain .dialog legend {
    color: #aa0;
    padding: 7px;
    background-color: #220;
}

.sequencerMain ul.dropDownMenu {
    padding:0;
}
.sequencerMain ul.dropDownMenu li {
    padding:6px;
    cursor: pointer;
}
.sequencerMain ul.dropDownMenu li:hover {
    background-color: #066;
}

.sequencerMain .dialog .dialogContainer {
    height: 100%;
    width: 100%;
}








.sequencerMain ul.pianoRollLegend {
	display:flex;
	margin:0;
	padding:0;
    flex-direction: column;
}
.sequencerMain ul.pianoRollLegend  li {
	margin: 0;
	padding: 0;
	list-style: none;
    font-weight: bold;

    width: 100px;
    background-color: #ffe;
    height: 44px;
    box-shadow:0 0 9px #0003 inset, 0 0 1px #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right:4px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.sequencerMain ul.pianoRollLegend  li.white {
    color:#066;
}
.sequencerMain ul.pianoRollLegend  li.black {
    background-color: #333;
    box-shadow:0 0 9px #ffd2 inset;
}

.sequencerMain ul.pianoRollLegend li .rowName {
    color:#888;
}

.sequencerMain ul.pianoRollLegend li .muteRow {
    width: 18px;
    height: 18px;
    background-color: #8885;
    margin-left: 10px;
    margin-right: 10px;    
    cursor:pointer;
    text-align: center;
    color: #8888;
}

.sequencerMain ul.pianoRollLegend li .muteRow:hover {
    background-color: #ccc5;
    color: #888;
}

.sequencerMain ul.pianoRollLegend li .muteRow.muted {
    background-color: #c44;
    color: #ccc;
}

.sequencerMain ul.pianoRollLegend li .muteRow.muted:hover {
    background-color: #f44;
}



.sequencerMain .pianoRollContainer {
    display:flex;
}

.sequencerMain ul.pianoRollColumn {
    padding: 0;
    margin: 0;
    position:relative; /* allow abs position children (beat indicator) */
}

.sequencerMain ul.pianoRollColumn li {
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.sequencerMain ul.pianoRollColumn.minorBeat li {
    border-left: 2px solid #222;
}

.sequencerMain ul.pianoRollColumn.majorBeat li {
    border-left: 2px solid #355;
}

.sequencerMain ul.pianoRollColumn.beginMeasure li {
    border-left: 4px solid #aa8;
}

/*  ----- play indicators ----- */

.sequencerMain .pianoRollTopIndicators {
    display:flex;
}

.sequencerMain .pianoRollTopIndicators li,
.sequencerMain .pianoRollTopIndicators ul.pianoRollLegend li,
.sequencerMain .pianoRollTopIndicators ul.pianoRollColumn li
 {
    height: auto; /* as long as i'm putting text three.*/
    /* padding-left: 5px; */
    font-size: xx-small;
    text-align: center;
}

.sequencerMain .pianoRollTopIndicators ul.pianoRollLegend li{
    background-color:transparent;
    box-shadow:none;
}

.sequencerMain .pianoRollTopIndicators .playhead {
    background-color:#8884;
}

.sequencerMain .pianoRollTopIndicators ul.playing .playhead {
    background-color:#8888;
}

.sequencerMain .pianoRollTopIndicators ul.playing.majorBeat li {
    background-color:#f44;
}





/*  ----- note cells ----- */

.sequencerMain ul.pianoRollColumn li > div {
    margin:2px;
}

.sequencerMain ul.pianoRollColumn li div {
    border-radius: 4px;
    height:100%;
    display: flex;
    flex-grow: 1;
}

.sequencerMain ul.pianoRollColumn li .noteBase {
    background-color: #666;
    box-shadow: inset 0px 0px 36px #000b;
}

.sequencerMain ul.pianoRollColumn li:hover .noteBase {
    /* background-color: #0883; */
    /* border: 2px solid #4f44; */
    border: 2px solid #666;
}

.sequencerMain ul.pianoRollColumn li.muted .muteOL {
    background-color: #0008;
}


/* notes cells are like,
    <li class="white g note var1 hihat"> "white g" are of note legend, "note" means there's a note here, "var1" is a globally-understood variation index, and "hihat" is of note legend.
        <div class="noteBase">
            <div class="noteOL">
                <div class="muteOL">
*/
.sequencerMain ul.pianoRollColumn li .noteBase {
    cursor: pointer;
}

.sequencerMain ul.pianoRollColumn li.note .noteOL {
    background-color: #4f4;
    box-shadow: inset 0px 0px 18px #888, 0px 0px 18px #4f48;
}

.sequencerMain ul.pianoRollColumn li.note.vel1 .noteOL {
    filter: hue-rotate(145deg) brightness(0.5);
}
